<!DOCTYPE html>
<html>
  <head>
    <title><%=dog.name%></title>
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="../images/style.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <header>
      <h1><%=dog.name%></h1>
      
      <%- include('../partials/nav'); -%>

    </header>
    <main>
      <div class="show-dog">
      <img src="<%=dog.photo%>"><br>
      <h2>Name: <%=dog.name%></h2><br>
      <h2>Age: <%=dog.age%></h2><br>
      <h2>Breed: <%=dog.breed%></h2><br>
      <h2>Good with children? 
        <% if(dog.goodWithKids === true) { %>
          <span> Yes </span>
        <% } else { %>
          <span> No </span>
        <% } %>
      </h2><br>
      <h2>Good with other pets? 
        <% if(dog.goodWithPets === true) { %>
          <span> Yes </span>
        <% } else { %>
          <span> No </span>
        <% } %>
      </h2><br>
      <h2>High energy? 
        <% if(dog.highEnergy === true) { %>
          <span> Yes </span>
        <% } else { %>
          <span> No </span>
        <% } %>
      </h2><br>
      
      <% if (user.username === 'admin') { %>
      <form action="/dogs/<%=dog.id%>/edit" method="GET">
        <button type="submit">Edit <%=dog.name%>'s Info</button>
      </form>

      <form action="/dogs/<%=dog.id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%=dog.name%>'s Info</button>
      </form>
      <% } else { %>

      <form action="/dogs/<%=dog.id%>/success" method="GET">
        <button type="submit">Submit Application for <%=dog.name%></button>
      </form>
      <% } %>
    </div>
    </main>
  </body>
</html>