<!DOCTYPE html>
<html>
<head>
  <title>User Index</title>
</head>
<link rel="stylesheet" type="text/css" href="../images/style.css">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<body>
  <header>
    <h1>User Index</h1>

    <%- include('../partials/nav'); -%>
  
  </header>
  <main>
    <h2>Username - Last Name, First Name</h2>
    <% for (let i = 0; i < users.length; i++) { %>
           <li><a href="/users/<%=user[i].userId%>"><%=users[i].username%></a> - <%=users[i].lastName%>, <%=users[i].firstName%></li>
    <% } %>
  </main>
</body>
</html>